div#menuTag {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 11px 0px;

    cursor: pointer;
}
div#menuTag > div{
    background-color: aliceblue;

    border-radius: 2px;

    width: 30px;
    height: 5px;

    transition-duration: 0.3s;
}
div.open > div#menu1 {
    rotate: 130deg;
}
div.open > div#menu2 {
    width: 0px;
    height: 0px;
    background-color: #000000;
}
div.open > div#menu3 {
    transform: translate(28%, 140%);
    rotate: -130deg;
}
nav{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    padding: 10px;

    width: calc(100vw - 20px);
    height: 210px;
}
nav div#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    color: white;
}
nav > div#links > a {
    width: 80vw;
    padding: 10px 0px;
    text-align: center;
    border: 1px solid white;
    color: white;
    text-decoration: none;
}