header {
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 0px 10px #0000004f;

    width: 100vw;
    height: 100px;

    position: sticky;
    top: -50px;
}
header > h1 {
    color: white;
    margin: 10px 0px 0px 0px;
}