*{
    z-index: 0;

    font-family: Arial, Helvetica, sans-serif;

    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
html{
    overflow-x: hidden;
}
header{
    z-index: 1;
}

::-webkit-scrollbar{
    background-color: black;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    border: 2px solid black;
    background-color: #9c50e2;
}
/* media query header */

@media (min-width: 700px)and (min-height: 600px) {
    div#menuTag > div#menuDivs{
        display: none;
    }
    div#menuTag > div#links {
        display: flex;
        flex-direction: row;
        gap: 20px;

        color: white;
    }
    div#menuTag > div#links > a {
        width: 100px;
        border: 2px solid white;
        border-radius: 10px;
    }
    div#menuTag > div#links > a:hover{
        box-shadow: 0px 0px 10px #ffffff;
        color: black;
        background-color: white;
        transition-duration: 0.3s;
    }
}
@media (min-width: 900px) and (min-height: 600px)  {
    *{
        scroll-padding-top: 0px;
        scroll-margin-top: -50px;
    }
    header{
        width: 100px;
        height: 100vh;
        display: flex;
        justify-content: center;

        position: sticky;
        top: -0px;
    }
    header > h1 {
        display: none;
    }
    nav{
        width: 100%;
        height: 200px;
        padding: 0px;
    }
    nav > div#menuTag{
        width: 100%;
        height: 100%;
    }
    nav > div#menuTag > div#menuDivs {
        display: none;
    }
    nav > div#menuTag > div#links {
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    nav > div#menuTag > div#links > a {
        width: 100%;
        border-top: 2px solid white;
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }
    nav > div#menuTag > div#iconsTag {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        height: fit-content;
    }
    nav > div#menuTag > div#iconsTag > a > i{
        box-sizing: border-box;
        background-color: black;
        border-radius: 5px;
        padding: 2px 0px;
        color: white;
        font-size: 25px;
        width: 30px;
        text-align: center;
        cursor: pointer;
        transition-duration: 0.3s;
    }
    nav > div#menuTag > div#iconsTag > a > i:hover{
        background-color: white;
        box-shadow: 0px 0px 10px #ffffff94;
        color: black;
        font-size: 25px;
        cursor: pointer;
        transition-duration: 0.3s;
    }
    article#sobreMim > div#textAndImg{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        overflow: hidden;
        align-items: none;
    }
    article#sobreMim > h1{
        margin-bottom: 20px;
    }
    article#sobreMim > div#textAndImg > div#ps > p{    
        width: 500px;
        line-height: 30px;
        
        font-size: 20px;
    }
    article#sobreMim > div#textAndImg > div#imgs {
        width: fit-content;
        height: 100%;
        display: flex;
        align-items: center;
    }
    article#sobreMim > div#textAndImg > div#imgs > img#salgadin {
        width: 25%;
        max-width: 200px;
        margin-top: 150px;
        animation-name: pato;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-play-state: running;
    }
    article#sobreMim > div#textAndImg > div#imgs > img#pato {
        width: 50%;
        max-width: 200px;
    
    
        animation-name: pato;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-play-state: running;
    }
    article#sobreMim > div#textAndImg > div#imgs > img#cois {
        width: 10px;
        height: 20px;
        margin-left: -10px;
        margin-bottom: 150px;
    
        animation-name: cois;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-play-state: running;
        
    }
    article#contato{
        display: block;
    }
    footer{
        display: none;
    }
}

/* media query main */
@media (min-height: 200px) and (max-height: 500px){
    section#conteinerProjetos{
        margin-top: 20px;
    }
    div#buttonsTP{
        margin: 5px 0px 0px 0px;
    }
    section#conteinerProjetos > div{
        background-color: blue;
        width: 100px;
        height: 100px;
    
        transition-duration: 0.5s;
    }
}

@media (min-width: 700px) and (min-height: 600px){
    div#buttonsTP > button.buttonProjetos{
        cursor: pointer;
    }
    section#conteinerProjetos{
        width: 100vw;
        height: 60vh;
    }
    section#conteinerProjetos > div{
        background-color: blue;
        width: 45%;
        height: 45%;
    
        transition-duration: 0.5s;
    }
    section#conteinerProjetos{
        height: fit-content;
    }
}
@media (min-width: 900px) and (min-height: 600px) {
    h1{
        font-size: 30px;
        margin-top: 100px;
    }
    body, div#root{
        overflow-x: hidden;
        display: flex;
        width: 100vw;
        height: 100vh;
    }
    main {
        width: calc(100vw - 100px);
        display: flex;
        flex-direction: column;
    }
    article#allProjectsConteiner{
        width: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div#buttonsTP {
        max-width: 900px;
        min-width: 200px;
        gap: 20px;
    }
    div#buttonsTP > button#Todos{
        display: block;
    }
    section#conteinerProjetos{
        width: fit-content;
        max-width: 1400px;
        height: 100%;
    }
    section#conteinerProjetos > div{
        background-color: blue;
        width: 200px;
        height: 200px;
        transition-duration: 0.5s;
    }
    article#contato{
        padding: 0px 0px 0px 50px;
    }
}